<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="roboguice.additionaltests" android:versionCode="1" android:versionName="0.1-SNAPSHOT">

    <application android:label="Additional Tests">
        <meta-data android:name="roboguice.modules" android:value="roboguice.additionaltests.TestModule"/>
        <meta-data android:name="roboguice.annotations.packages" android:value="roboguice,additionaltests,testadditionaltests"/>
    </application>

</manifest>

